footer {
    background-color: $accent-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container.footer {
    display: flex;
    align-items: baseline;
}
.main__logo--footer {
    @extend %main-logo;
    display: block;
    margin: 0px 0px 20px 0px;
    & .span {
        color:$main-background-color;
    }
}
.footer__nav {
    display: block;
    padding: 0px;
    margin: 0px;

    & .item {
     display: block;
     margin-bottom: 9px;
     &:last-child {
        margin-bottom: 0px;
      }
    }
}
.footer__address {
    color: $main-background-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
    }
}
.footer__contacts {
    color: $footer-contacts-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: $accent-color;
    }
}
// JOIN
.join {
    margin-left: auto;
    align-items: flex-start;
}
.join__title, .mailing-list__title {
    @extend %secondary-headings;
    margin-bottom: 20px;
    color: $main-background-color;
    font-style: normal; 
}
.footer__social-networks {
    margin: 0px;
    @extend %networks-list;
}
.footer__social-networks__link {
    @extend %networks;
    background-color: $icons-background;
    &:hover, &:focus {
     background-color: $accent-color;
    }
}
.footer__social-networks__link .icon {
    fill: $main-background-color;
}
// MAILING LIST
.mailing-list {
    margin-left: auto;
}
.mailinag-list__thumb {
    display: flex;
}
.mailinag-list__input {
    padding: 15px 16px;

    width: 358px;
    height: 50px;
    
    outline: none;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;

    color: $main-background-color;
    
    &::placeholder {
        font-style: inherit;
    }
}
.mailing-list__button {
    @extend %buttons;
    margin-left: 12px;
    cursor: pointer; 

    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
 
    &:focus, &:hover {
        background-color: #188CE8;
    }
}
.mailing-list__button__icon {
    margin-left: 10px;
    vertical-align: middle;
}