// TEMPLATES FOR header-links-contacts  
%header-links-contacts {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

%header-icon {
    fill: $primary-text-color;
    margin-right: 10px;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .main__contacts__link:hover &, .main__contacts__link:focus & {
        fill: $accent-color;
    }

}