.contacts {
    display: flex;
    margin-left: auto;
    padding-left: 0px;

    & .item + .item {
        margin-left: 50px;
    }
}

.contacts__link {
    @extend %header-links-contacts;
    align-items: center;

    color: $primary-text-color;
}

// CONTACTS ICONS
.contacts__icon-mail {
    @extend %header-icon;
    width: 16px;
    height: 12px;

    .contacts__link:hover &, .contacts__link:focus & {
        fill: $accent-color;
    }
}
.contacts__icon-number {
    @extend %header-icon;
    width: 10px;
    height: 16px;

    .contacts__link:hover &, .contacts__link:focus & {
        fill: $accent-color;
    }
}
