%modal-label {
    display: block;
    margin-bottom: 4px;

    font-style: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    
    letter-spacing: 0.01em;
    color: #757575;
}