.section.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio__title {
    display: none;
    color: title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}