.what-we-do {
    margin-bottom: 0px;
    padding-bottom: 94px;
    background-color: $main-background-color;
}
.what-we-do__title {
    @extend %title-for-sections;
}
.what-we-do__examples {
    display: flex;
    & .thumb {
        margin-right: 30px;
        &:last-child {
            margin-right: 0px;        
        }
    }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.what-we-do__examples .thumb {
    position: relative;
    content: "";
    display: block;
}
.what-we-do__captions {
    @extend %secondary-headings;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
    color: $main-background-color;
}