$primary-text-color: #757575;
$next-primary-text-color: #000000;
$title-text-color: #212121;
$accent-color: #2196F3;
$main-background-color: #ffffff;
$accent-background-color: #2F303A;
$main-team-color: #F5F5F5;
$footer-contacts-color: #FFFFFF99;
$border-color: #ECECEC;
$portfolio-border-color: #EEEEEE;
$our-team-main-color: #F5F4FA;
$hero-shadow:rgba(47, 48, 58, 0.4);
$social-networks: #AFB1B8;
$icons-background: rgba(255, 255, 255, 0.1);